body {
  background-color: #0e020c;
  color: #fff;
  background-image: linear-gradient(rgb(179, 80, 80), rgb(194, 194, 145));
  /* border: 2px solid white; */
  margin-top: 5vh;
}

.heading {
  text-align: center;
  font-size: 2.5em;
  /* letter-spacing: 0.1em; */
  /* font-size: ; */
}
.translate-btn {
  padding: 1rem;
  width: 9rem;
  border-radius: 1em;
  margin: 1.5rem;
  transform: translateY(-50%);
  background-color: #007bff;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
}
.translate-btn:hover {
  background-color: #1e6abb;
}
.output {
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  /* border: 2px solid red; */
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.5rem;
  min-width: 200px;
  width: 60%;
  margin-bottom: 2rem;
}

.textareas {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.textarea {
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  /* border: 2px solid red; */
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.5rem;
  min-width: 200px;
  width: 60%;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .textarea {
    font-size: 0.9rem;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .heading {
    font-size: 2em;
  }
}
/* linear-gradient(to right, #38ef7d, #18b9c1c4) */
